@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: antiquewhite;
}

.popup__container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.popup__frame {
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.popup__overlaywindow {
  width: 100%;
  height: 100%;
  opacity: 0.75;
  background-color: black;
}
.popup__cross {
  width: 15px;
  height: 25px;
  margin-right: 5px;
  font-size: 25px;
  cursor: pointer;
}
.popup__error {
  color: red;
  visibility: hidden;
  margin-bottom: 10px;
}
.popup__subscription {
  width: 800px;
}
.popup__subscription__image {
  width: 300px;
  background-color: orange;
}
.popup__subscription__formcontainer {
  width: 450px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.popup__subscription__formcontainer form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.popup__subscription__formcontainer form label {
  font-size: 30px;
  color: orange;
}
.popup__subscription__formcontainer form input {
  padding: 15px;
  font-size: 20px;
}
.popup__subscription__formcontainer form input:focus {
  border: solid 2px orange;
  outline: 0;
  box-shadow: 0 0 5px white, 0 0 5px orange;
}
.popup__subscription__formcontainer form input:focus::placeholder {
  color: transparent;
}
.popup__subscription__formcontainer form button {
  background-color: orange;
  border-color: orange;
  color: white;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
}
.popup__login {
  width: 500px;
}
.popup__login__formcontainer {
  width: 450px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.popup__login__formcontainer h2 {
  margin: 0;
}
.popup__login__formcontainer form {
  display: flex;
  flex-direction: column;
}
.popup__login__formcontainer form label {
  font-size: 20px;
  color: orange;
}
.popup__login__formcontainer form input {
  padding: 10px;
  font-size: 15px;
}
.popup__login__formcontainer form input:focus {
  border: solid 2px orange;
  outline: 0;
  box-shadow: 0 0 5px white, 0 0 5px orange;
}
.popup__login__formcontainer form input:focus::placeholder {
  color: transparent;
}
.popup__login__formcontainer form button {
  background-color: orange;
  border-color: orange;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.popup__register {
  width: 500px;
}
.popup__register__formcontainer {
  width: 450px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.popup__register__formcontainer h2 {
  margin: 0;
}
.popup__register__formcontainer form {
  display: flex;
  flex-direction: column;
}
.popup__register__formcontainer form label {
  font-size: 20px;
  color: orange;
}
.popup__register__formcontainer form input {
  padding: 10px;
  font-size: 15px;
}
.popup__register__formcontainer form input:focus {
  border: solid 2px orange;
  outline: 0;
  box-shadow: 0 0 5px white, 0 0 5px orange;
}
.popup__register__formcontainer form input:focus::placeholder {
  color: transparent;
}
.popup__register__formcontainer form button {
  background-color: orange;
  border-color: orange;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.popup__weather {
  width: 1000px;
  flex-direction: column;
}
.popup__weather__topbanner {
  background-image: url("/src/assets/images/image_background/sky-gold.jpg");
  display: flex;
  justify-content: space-between;
}
.popup__weather__topbanner__temperature {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.popup__weather__topbanner__currenttemp {
  font-size: 80px;
  display: flex;
}
.popup__weather__topbanner__degreesymbol {
  font-size: 15px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: solid 5px black;
  border-radius: 100%;
}
.announcementbar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}
.announcementbar__text {
  color: orange;
  animation: 30s linear 1s infinite alternate textslide;
}
@keyframes textslide {
  from {
    margin-left: -80%;
  }
  to {
    margin-left: 80%;
  }
}
.announcementbar__text:hover {
  cursor: pointer;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
header .header__logo {
  width: 50px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
header .header__logo__crown {
  display: flex;
}
header .header__logo__crown--left {
  height: 7.5px;
  border-top: solid 10px transparent;
  border-left: solid 10px orange;
  border-right: solid 10px orange;
}
header .header__logo__crown--right {
  height: 7.5px;
  border-top: solid 10px transparent;
  border-left: solid 10px orange;
  border-right: solid 10px orange;
}
header .header__logo__initial {
  color: black;
  font-family: Lobster;
  font-size: 30px;
}
header nav {
  width: 800px;
}
header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
header nav ul li > a {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}
header nav ul li > a:hover {
  color: orange;
  position: relative;
}
header nav ul li > a::before {
  content: "";
  display: block;
  height: 3px;
  top: 0;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 1s ease 0s, left 1s ease 0s;
  width: 0;
}
header nav ul li > a:hover::before {
  width: 100%;
  left: 0;
}
header nav ul li > a::after {
  content: "";
  display: block;
  height: 3px;
  bottom: 0;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 1s ease 0s, left 1s ease 0s;
  width: 0;
}
header nav ul li > a:hover::after {
  width: 100%;
  left: 0;
}
header .header__user {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .header__user button {
  width: 150px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
header .header__user .button__login--dark {
  background-color: black;
  color: orange;
  border-color: black;
}
header .header__user .button__login--dark:hover {
  background-color: orange;
  color: white;
  border-color: orange;
}
header .header__user .button__register--light {
  background-color: orange;
  color: white;
  border-color: orange;
}
header .header__user .button__register--light:hover {
  background-color: black;
  color: orange;
  border-color: black;
}
header .header__avatar {
  width: 50px;
  padding: 5px;
  cursor: pointer;
}

footer .footer__copyright {
  background-color: black;
  color: orange;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}
footer .footer__copyright span > a {
  color: orange;
  text-decoration: none;
}
footer .footer__copyright span > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
