// @font-face {
//   font-family: "Lobster";
//   src: url("/src/assets/fonts/Lobster/Lobster-Regular.ttf") format("truetype");
// }
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
// @font-face {
//   font-family: "Roboto";
//   src: url("/src/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
// }
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$themeLight: orange;
$themeDark: black;

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: antiquewhite;
}

.subscription {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  &__popup {
    width: 350px;
    height: 75%;
    position: absolute;
    background-color: white;
    z-index: 1;

    &__cross::before {
      content: "x";
    }
  }

  &__overlaywindow {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: grey;
  }
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.announcementbar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $themeDark;

  &__text {
    color: $themeLight;
  }

  &__text:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

header {

  .header__logo {
    width: 50px;
    padding: 5px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__crown {
      display: flex;

      &--left {
        height: 7.5px;
        border-top: solid 10px transparent;
        border-left: solid 10px $themeLight;
        border-right: solid 10px $themeLight;
      }

      &--right {
        height: 7.5px;
        border-top: solid 10px transparent;
        border-left: solid 10px $themeLight;
        border-right: solid 10px $themeLight;
      }
    }

    &__initial {
      color: $themeDark;
      font-family: Lobster;
      font-size: 30px;
    }
  }
}
