// @font-face {
//   font-family: "Lobster";
//   src: url("/src/assets/fonts/Lobster/Lobster-Regular.ttf") format("truetype");
// }
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
// @font-face {
//   font-family: "Roboto";
//   src: url("/src/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
// }
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Colour variables
$alertColour: red;
$backgroundColour: antiquewhite;
$baseColour: white;
$themeDark: black;
$themeLight: orange;
$transparentColour: transparent;

// Size variables
$SM: 414px;
$MD: 768px;
$LG: 1024px;
$XL: 1366px;

// Responsive Design Definition
@mixin MQ($canvas) {
  @if $canvas==SM {
    @media screen and (max-width: $SM) {
      @content;
    }
  }
  @else if $canvas==MD {
    @media screen and (min-width: $SM) and (max-width: $MD - 16) {
      @content;
    }
  }
  @else if $canvas==LG {
    @media screen and (min-width: $MD) and (max-width: $LG - 16) {
      @content;
    }
  }
  @else if $canvas==XL {
    @media screen and (min-width: $LG) {
      @content;
    }
  }
}

// Body
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: $backgroundColour;
}

// Popup
.popup {
  &__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }

  &__frame {
    position: absolute;
    background-color: $baseColour;
    display: flex;
    justify-content: space-between;
  }

  &__overlaywindow {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: $themeDark;
  }

  &__cross {
    width: 15px;
    height: 25px;
    margin-right: 5px;
    font-size: 25px;
    cursor: pointer;
  }

  &__error {
    color: $alertColour;
    visibility: hidden;
    margin-bottom: 10px;
  }

  // Subscription
  &__subscription {
    width: 800px;

    &__image {
      width: 300px;
      background-color: $themeLight;
    }

    &__formcontainer {
      width: 450px;
      padding: 50px;
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        label {
          font-size: 30px;
          color: $themeLight;
        }

        input {
          padding: 15px;
          font-size: 20px;
        }

        input:focus {
          border: solid 2px $themeLight;
          outline: 0;
          box-shadow: 0 0 5px $baseColour, 0 0 5px $themeLight;
        }

        input:focus::placeholder {
          color: $transparentColour;
        }

        button {
          background-color: $themeLight;
          border-color: $themeLight;
          color: $baseColour;
          font-size: 20px;
          padding: 15px;
          cursor: pointer;
        }
      }
    }
  }

  // Login
  &__login {
    width: 500px;

    &__formcontainer {
      width: 450px;
      padding: 30px;
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
      }

      form {
        display: flex;
        flex-direction: column;

        label {
          font-size: 20px;
          color: $themeLight;
        }

        input {
          padding: 10px;
          font-size: 15px;
        }

        input:focus {
          border: solid 2px $themeLight;
          outline: 0;
          box-shadow: 0 0 5px $baseColour, 0 0 5px $themeLight;
        }

        input:focus::placeholder {
          color: $transparentColour;
        }

        button {
          background-color: $themeLight;
          border-color: $themeLight;
          color: $baseColour;
          font-size: 20px;
          padding: 10px;
          cursor: pointer;
        }
      }
    }
  }

  // Register
  &__register {
    width: 500px;

    &__formcontainer {
      width: 450px;
      padding: 30px;
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
      }

      form {
        display: flex;
        flex-direction: column;

        label {
          font-size: 20px;
          color: $themeLight;
        }

        input {
          padding: 10px;
          font-size: 15px;
        }

        input:focus {
          border: solid 2px $themeLight;
          outline: 0;
          box-shadow: 0 0 5px $baseColour, 0 0 5px $themeLight;
        }

        input:focus::placeholder {
          color: $transparentColour;
        }

        button {
          background-color: $themeLight;
          border-color: $themeLight;
          color: $baseColour;
          font-size: 20px;
          padding: 10px;
          cursor: pointer;
        }
      }
    }
  }

  // Weather
  &__weather {
    width: 1000px;
    flex-direction: column;

    &__topbanner {
      background-image: url("/src/assets/images/image_background/sky-gold.jpg");
      display: flex;
      justify-content: space-between;

      &__temperature {
        width: 400px;
        padding: 20px;
        display: flex;
        flex-direction: column;
      }

      &__currenttemp {
        font-size: 80px;
        display: flex;
      }

      &__degreesymbol {
        font-size: 15px;
        width: 15px;
        height: 15px;
        background-color: $transparentColour;
        border: solid 5px $themeDark;
        border-radius: 100%;
      }
    }

    &__bottombanner {

    }
  }
}

// Announcement Bar
.announcementbar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $themeDark;

  &__text {
    color: $themeLight;
    animation: 30s linear 1s infinite alternate textslide;
  }

  @keyframes textslide {
    from {
      margin-left: -80%;
    }

    to {
      margin-left: 80%;
    }  
  }

  &__text:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $baseColour;

  // Header Logo
  .header__logo {
    width: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &__crown {
      display: flex;

      &--left {
        height: 7.5px;
        border-top: solid 10px $transparentColour;
        border-left: solid 10px $themeLight;
        border-right: solid 10px $themeLight;
      }

      &--right {
        height: 7.5px;
        border-top: solid 10px $transparentColour;
        border-left: solid 10px $themeLight;
        border-right: solid 10px $themeLight;
      }
    }

    &__initial {
      color: $themeDark;
      font-family: Lobster;
      font-size: 30px;
    }
  }

  // Navigation Bar
  nav {
    width: 800px;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;

      li > a {
        font-size: 20px;
        padding: 5px;
        cursor: pointer;
      }

      li > a:hover {
        color: $themeLight;
        position: relative;
      }

      li > a::before {    
        content: "";
        display: block;
        height: 3px;
        top: 0;
        left: 50%;
        position: absolute;
        background: $themeDark;
        transition: width 1s ease 0s, left 1s ease 0s;
        width: 0;
      }
      li > a:hover::before { 
        width: 100%;
        left: 0;
      }

      li > a::after {    
        content: "";
        display: block;
        height: 3px;
        bottom: 0;
        left: 50%;
        position: absolute;
        background: $themeDark;
        transition: width 1s ease 0s, left 1s ease 0s;
        width: 0;
      }
      li > a:hover::after { 
        width: 100%;
        left: 0;
      }
    }
  }

  // Header Administration
  .header__user {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
      width: 150px;
      padding: 10px;
      font-size: 20px;
      cursor: pointer;
    }

    .button {
      &__login--dark {
        background-color: $themeDark;
        color: $themeLight;
        border-color: $themeDark;
      }

      &__login--dark:hover {
        background-color: $themeLight;
        color: $baseColour;
        border-color: $themeLight;
      }

      &__register--light {
        background-color: $themeLight;
        color: $baseColour;
        border-color: $themeLight;
      }

      &__register--light:hover {
        background-color: $themeDark;
        color: $themeLight;
        border-color: $themeDark;
      }
    }
  }

  // Header Avatar
  .header__avatar {
    width: 50px;
    padding: 5px;
    cursor: pointer;
  }
}

// Main
main {

}

// Footer
footer {
  .footer {
    &__sitemap {

    }

    // Copyright
    &__copyright {
      background-color: $themeDark;
      color: $themeLight;
      padding: 10px 0px;
      display: flex;
      justify-content: center;

      span > a {
        color: $themeLight;
        text-decoration: none;
      }
      span > a:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
